.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #003580;
}

.headerContainer  {
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    gap: 20px;
    
}

.search-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search-form .input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 400px;
}

.searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
}


.searchButton:hover {
    background-color: #0069d9;
    margin-left: 10px;
    margin-right: 10px;
}

.article {
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.select {
    width: 300px;
    /* veya istediğiniz genişlik */
    height: 40px;
    /* veya istediğiniz yükseklik */
    font-size: 16px;
    margin-bottom: 20px;
}

.searchItem {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.inputDate {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
    border: none;
}

.inputError {
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
}

select {
    border: none;
    outline: none;
    padding: 5px;
    background-color: #fff !important;
    font-size: 16px;
}

.searchButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.article .subtitle {
    color: #fff;
}

.article .title {
    color: #fff !important;
}

@media screen and (max-width: 768px) {
    .headerContainer {
        flex-direction: column;
        gap: 20px;
    }
    .search-form {
        width: 100%;
    }
    .search-form .input {
        width: 100%;
    }
    .searchItem {
        width: 100%;
    }
    .select {
        width: 100%;
    }
    .inputDate {
        width: 100%;
    }
    .searchButton {
        width: 100%;
    }
}